@import "tailwindcss";
@import "@nuxt/ui";
@import "./markdown.css";
@import "@dcc-bs/common-ui.bs.js";
@import "@dcc-bs/audio-recorder.bs.js";

.nt-highlight {
    outline: 0px;
    outline-offset: 2px;
    border-radius: 5px;
    z-index: 1000;
    background-color: white !important;
}
